*{
    margin: 0;
    padding: 0;
}

.main{
    width: 1900px;
    background-image: url(rh-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 180vh;
}

.navbar{
    width: 1900px;
    height: 75px;
    margin: auto;
    background: linear-gradient(to top, rgba(0,11,61,0.5)50%, rgba(0,11,61,0.5)50%);
}

.icon{
    width: 250px;
    float: left;
    height: 27px;
}

.logo{
    color: #ffffff;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.menu{
    width: 400px;
    float: left;
    height: 50px;
}

ul{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

ul li a:hover{
    color:aqua;
}

.content{
    width: 1900px;
    height: auto;
    margin-left: auto;
    color: #ffffff;
    position: left;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content .par2{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 20px;
}

.content .par table{
    color: white;
    font-family: Arial;
    border-collapse: collapse;
    width: 100%
}

td, th{
    width: 200px;
    border: 1px solid aqua;
    text-align: center;
    padding: 12px;
}

tr:nth-child(even) {
    background-color:rgba(5, 4, 73, 0.801)
}

.content .par table,td,th,tr a{
    color: white;
}


.content .par a{
    color: #ffffff;
}

.content .parbox{
    padding-left: 25px;
    padding-bottom: 20px;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.2px;
    line-height: 25px;
    width: 950px;
    height: 275px;
    background-color: rgba(5, 4, 73, 0.801);
    box-shadow: 5px 5px 5px rgba(0, 255, 255, 0.801);
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-left: 15px;
    padding-top: 65px;
    letter-spacing: 2px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.content h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-left: 15px;
    padding-top: 65px;
    letter-spacing: 2px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.content h3{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-left: 15px;
    padding-top: 65px;
    letter-spacing: 2px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.content h4{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-left: 15px;
    padding-top: 65px;
    letter-spacing: 2px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.content h5{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-left: 15px;
    padding-top: 65px;
    letter-spacing: 2px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.home1 a{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #ffffff;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.footer{
    position: fixed;
    text-align: left;
    bottom: 0px;
    width: 100%;
    background-color:rgba(5, 4, 73, 0.801);
    color: white;
    font-family: Arial;
}

